body {
	font-family: "Open Sans", sans-serif;
}

input,
select {
	width: 70px;
	height: 27px;
}

td,
.table-top,
input,
.center {
	text-align: center;
}

.table-divider {
	border-bottom: 2px solid #ddd;
}

.green {
	background-color: rgba(116, 219, 75, 0.5);
}

.yellow {
	background-color: rgba(255, 235, 88, 0.5);
}

.red {
	background-color: rgba(255, 50, 0, 0.5);
}

.bg-NWS {
	background-color: #0a4595;
}

.btn-NWS {
	background-color: #aaa;
}

#criteria-table td {
	height: 52px;
}
